{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-5 h1">Login</div>
    </div>
    <form id="login_form" action="{{ url_for('login') }}" method="POST">
        {{ form.csrf_token }}
        <div class="row mb-3">
            <div class="col-2 col-form-label">
                {{ form.name.label }}
            </div>
            <div class="col-4">
                {{ form.name(class="form-control") }}<br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 col-form-label">
                {{ form.password.label }}
            </div>
            <div class="col-4">
                {{ form.password(class="form-control") }}<br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 col-form-label">
                {{ form.remember.label }}
            </div>
            <div class="col-4">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}<br>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2"></div>
            <div class="col-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
